<div class="about-me" id="about-me">
  <div class="experience">
    <h3>About</h3>
    <ul>
      <li>UI Developer with 1.5+ years of experience</li>
      <li>
        Implemented service integration of accounts, cheque, and worked on
        forms, angular routing and tables.
      </li>
      <li>
        Created several features like file download, and shared components which
        is reused in 30% of the components.
      </li>
      <li>
        Worked on styling the website for mobile devices, fixed resolution
        issues, and made the website more readable and responsive.
      </li>
    </ul>
  </div>
</div>
